<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Restaurants", restaurants_path%>
      <span class="navbar-text">
      -----Mega nice Restaurants-----
      </span>
       <%= link_to "Create", new_restaurant_path(@restaurant)%>
    </nav>
  </div>
  <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
